body{
    background-color: lightseagreen;
}
.navbar{
    background-color: lightskyblue;
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}
.NewYear{
    width: 600px;
    height: 300px; 
    margin-top: 25px;
    margin-left: 425px;
    border-radius: 15px;
}
.f1{
margin-left: 550px;
}
.Christmas{
    width: 600px;
    height: 300px; 
    margin-top: 25px;
    margin-left: 425px;
    border-radius: 15px;
}
.Holydinner{
    width: 600px;
    height: 300px; 
    margin-top: 25px;
    margin-left: 425px;
    border-radius: 15px;
}
.SaintNicholas{
    width: 400px;
    height: 300px; 
    margin-top: 25px;
    margin-left: 525px;
    border-radius: 15px;
}